.Hola{
  column-count: 2;
  text-align:center;
  break-after: auto;
  column-rule-style: double;
  column-rule-color: red;
}
.Cabeza{
    height: 130px;
    overflow: hidden;
    background-color: red;
}
h3{
  text-decoration: underline;
}
